* {
	margin: 0;
	padding: 0;
	cursor: crosshair;
}

html, body {
	width: 100%;
	height: 100%;
}

canvas {
	display: block;
}

.controls {
	margin: 0;
	position: absolute;
	top: 15px;
	left: 15px;
	min-width: 150px;
	height: auto;
	padding: 5px;
	border: 1px solid white;
	background-color: grey;

	display: flex;
	justify-content: center;
	flex-direction: column;
}
.controls > button, div {
	margin-bottom: 5px;
}
.controls > div > button {
	width: 100%;
}
.controls > button {
	margin: 0;
	padding: 0;
}

input[type=number] {
	float: right;
	width: 50px;
	text-align: center;
	padding: 0;
}
input[type=checkbox] {
	width: 20px;
	height: 20px;
	position: absolute;
}

.hidden {
	display: none;
}

label {
	color: black;
}